# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml

# mypy
.mypy_cache/

# IDE
.vscode/

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

